@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Addressee Not Found";
}
<h1>Addressee Not Found!</h1>

<div id="errorCodes" class="alert-danger">
    <h5>No matching data in database!</h5>
</div>
    <a asp-action="Mailbox" class="btn btn-outline-danger">Back to Mailbox</a>



