@model TabApp.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="repairID" name="repairID" value="@ViewBag.RepairID"/>
            <div class="form-group">
                <label asp-for="WarrantyDate" class="control-label"></label>
                <input asp-for="WarrantyDate" class="form-control" />
                <span asp-validation-for="WarrantyDate" class="text-danger"></span>
            </div>
            <div >
                <label asp-for="PartsCost" class="control-label"></label>
                <input asp-for="PartsCost" class="form-control" />
                <span asp-validation-for="PartsCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Select service </label>
                <select id="priceListID" name="priceListID" class="form-control" asp-items="ViewBag.PriceList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
