@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Access restricted";
}
<h1>Access restricted!</h1>

<div id="errorCodes" class="alert-danger">
    <h5>You don't have permissions to browse this page.</h5>
    <h5>If You should have it - please contact this site administrator.</h5>
</div>

