@{
    ViewData["Title"] = "Registered";
}
<h1>Your data exists in system</h1>

<div id="info" class="alert-danger">
    <h5>Given login credentials were assigned to this data</h5>
</div>
<a asp-controller="Home" asp-action="Login">CONFIRM</a>
