

    @{
    ViewData["Title"] = "Services preview";
    }

    <h3>Check our services!</h3>

    <h5>We offer : </h5>
    <ul>
        <li>
            Repairs of
            <ul>
                <li>Notebooks</li>
                <li>Phones</li>
                <li>Printers</li>
            </ul>
        </li>
    </ul>
